/*// PRIMARY STYLES ----------------------- */
.bdhwk{



body{
  position:relative;
  width:100%; height:100%;
  color:$dark-blue;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
  animation: bodyFade 0.5s forwards;
}
// fade in effect on page load
 @keyframes bodyFade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

main{
  overflow:hidden;
}

//text selection styles
::selection {
  background: $dark-blue;
  color:$light-pink;
}
::-moz-selection {
  background: $dark-blue;
  color:$light-pink;
}


#nav-trigger{
  position:absolute;
  top:calc(50vh + 50px); left:0; right:0;
  margin:auto;
  width:100%;
  height:1px;
  // background-color:red;
  // z-index:99999;
}


// base font styles
// will be overwrtten to match the creative in the individual page fields
a{
  text-decoration:none;
  color:$dark-blue;
  webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1{
  color:$dark-blue;
  letter-spacing: 1px;
  font:700 40px/40px $roboto;
  margin:0px;
}

h2{
  color:$dark-blue;
  letter-spacing: 1px;
  font:300 27px/27px $roboto;
  margin:0px;
}

h3{
  color:$dark-blue;
  margin:0px;
  font:700 18px/18px $roboto;
}

h4{
  color:$dark-blue;
  margin:0px;
  font:300 14px/14px $roboto;
}

h5{
  color:$dark-blue;
  margin:0px;
  font:700 14px/14px $roboto;
}

h6{
  color:$dark-blue;
  margin:0px;
  font:300 12px/12px $roboto;
}

p{
  color:$dark-blue;
  margin:0px;
  font:300 12px/12px $roboto;
}

// base for all line elements on the page
hr{
  border-bottom:1px solid $black;
}


} //end



//wp-admin sidebar fix
.wp-admin{
  .edit-post-layout.is-sidebar-opened .edit-post-sidebar, .edit-post-layout.is-sidebar-opened .edit-post-plugin-sidebar__sidebar-layout{
    width:450px;
    @include breakpoint(1400px){width:400px;}
    @include breakpoint(1288px){width:300px;}
  }
}

.edit-post-layout.is-sidebar-opened .edit-post-layout__content{
  width:calc(100% - 450px);
  @include breakpoint(1400px){width:calc(100% - 400px);}
  @include breakpoint(1288px){width:calc(100% - 300px);}
}