
.container{
  position:relative;
  max-width:1440px; width:100%;
  height:auto;
  overflow:hidden;
  margin:0px auto;
  z-index:2;
}

//buttons
.btn{
  border:2px solid $pink;
  color:$white;
  min-width:100px;
  text-transform: uppercase;
  text-align:center;
  padding:13px 30px;
  background-color:transparent;
  font:700 16px/16px $roboto;
  @include trans(0.3s);
  cursor:pointer;
  margin:0px auto;
  &:hover{
    @include trans(0.3s);
    background-color:rgba(255,255,255,0.3);
  }
}



//callout galleries
.slider{
  position:relative;
  height:100%;
  margin:0px auto;
  outline:none;
  border:none;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap:wrap;
  .slide{
    position:relative;
    height:100%;
    margin:30px 0px 0px 0px;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    outline:none;
    border:none;
    &:focus{outline:none; border:none;}
  }
  .slick-dots{
    width:100%;
    list-style-type:none;
    display:flex;
    justify-content: center;
    li{
      button{
        width:10px; height:10px;
        border:none;
        background-color:$light-pink;
        margin:4px;
        text-indent:-100000px;
        overflow:hidden;
        border-radius:10px;
        padding:0px;
        cursor:pointer;
        @include trans(0.3s);
        &:focus{outline:none;}
      }
    }
    .slick-active{
      button{
        background-color:$white;
        @include trans(0.3s);
      }
    }
  }
}