//TEST PAGE

.page-details{




  main{
    width:calc(100% - 60px);
    padding:100px 0px 100px 0px;
    @include gradientVert($white, $grey);
  }



  .details-main{
    position:relative;
    padding:0px 33px 40px 30px;
    //background-color:$grey;
    display:block;
    h3{
      text-align:center;
      margin:30px 0px 0px 0px;
    }
    .test-score{
      position:relative;
      padding:0px 0px 0px 0px;
      min-height:0vh;
      width:100%;
      margin:35px auto 0px;
      display:block;
      p{
        font:24px/24px $roboto !important;
        text-align:center;
        margin:25px 0px 0px 0px;
      }
      svg{
        width:50%; height:auto;
        display:block;
        margin:45px auto 0px;
      }
    }

    .test-text{
      .desc{
        max-width:800px;
        width:80%;
        margin:45px auto;
        p{
          font:16px/25px $roboto !important;
          text-align:left;
        }
      }
      .btn{
        margin:45px auto;
        width:200px;
        background-color:$pink; 
        border: 2px solid $pink;
        color:$white;
        @include trans(0.3s);
        &:hover{
          @include trans(0.3s);
          background-color:$blue;
          border: 2px solid $blue;
        }
      }
    }

  } //end test-main

  



}