

// @font-face {
//   font-family: 'CircularStd';
//   src: url('../src/fonts/CircularStd-Black.eot');
//   src: url('../src/fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('../src/fonts/CircularStd-Black.woff') format('woff'), url('../src/fonts/CircularStd-Black.ttf') format('truetype'), url('../src/fonts/CircularStd-Black.svg') format('svg');
//   font-weight: 800;
//   font-style: normal;
// }