footer{
  position:relative;
  width:100%;
  background:url('../src/img/callout-bg.jpg') center no-repeat;
  background-size:cover;
  //@include gradient($purple, $pink);
  .pattern{
    position:relative;
    height:115px;
    width:100%;
    background:url('../src/icons/footer-top.svg') top repeat;
    z-index:2;
  }

  .gradient{
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    @include gradient($purple, $pink);
    opacity:.95;
  }

  .footer-content{
    position:relative;
    display:flex;
    justify-content:center;
    //align-items:center;
    padding: 75px 0px 20px 0px;
    z-index:3;
    .logo{
      border-right:1px solid $white;
      height:80px; width:80px;
      padding:0px 100px 0px 0px;
      background:url(../src/img/logo-white.png) center no-repeat;
      background-size:contain;
      p{
        background-color:$light-grey;
        height:100%;
        display:block;
      }
    }
    .links{
      display:flex;
      justify-content:center;
      align-items:center;
      flex-wrap:wrap;
      width:auto;
      overflow:auto;
      width:710px;
      ul{
        list-style-type:none;
        width:100%;
        display:flex;
        //justify-content:center;
        align-items:flex-start;
        margin:31px 0 15px 0;
        a, li{
          color:$white;
          margin:0px 8px;
          font:400 14px/16px $roboto;
        }
      }
      .footer-tag{
        position:relative;
        width:100%;
        z-index:3;
        p{
          font:12px $roboto;
          color:$white;
          margin:100px 0px 0px 43px;
        }
      }
    }
  }

}

//remove entry footer from woo
.entry-footer, .entry-header{display:none;}