header{
  position:fixed;
  top:0px;
  background-color:$light-grey;
  border-bottom: 1px solid $grey;
  height:65px;
  display:flex;
  flex-wrap:wrap;
  width:100%;
  padding:0px 0px 0px 0px;
  z-index:99;
  .top{
    position:relative;
    width:100%; height:5px;
    @include gradient($pink, $purple);
    padding:0px;
  }
  .nav{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    height:60px; width:100%;
    padding:0px 50px;
    .logo{
      height:50px; width:120px;
      margin:0px 50px 0px 0px;
      background-size:contain;
      svg{
        height:100%;
        .st1{fill: $blue;}
      }
    }
    ul{
      list-style-type:none;
      padding:0px;
      margin:0px 0px 0px 0px;
      display:flex;
      justify-content: flex-end;
      li{
        margin:0px 0px 0px 20px;
        color:$blue;
        font:500 13px/37px $roboto;
      }
      .divider{
        margin:0px 20px 0px 20px;
      }
      .user-info{
        margin:0px;
        i{
          margin:0px 5px 0px 0px;
        }
        a{
          display:inline-block;
          margin:0px 0px 0px 0px;
          color:$blue;
          font:500 13px/37px $roboto;
        }
        .logout{
          margin:0px 0px 0px 25px;
        }
      }
    }
    p{
      text-align:left;
      font:700 24px/24px $roboto;
      width:calc(100% - 200px);
      margin:10px 0px 0px 0px;
    }
    // nav{
    //   display:flex;
    //   justify-content:space-between;
    //   flex-wrap:wrap;
    //   width:auto;
    //   overflow:auto;
    //   width:calc(100% - 230px);
    //   max-width:960px;
    //   a{
    //     color:$dark-blue;
    //     text-transform: uppercase;
    //     margin:0px 2px;
    //     font:700 14px/16px $roboto;
    //     letter-spacing: 1px;
    //   }
    // }
  }
}