
  
  .home-hero{
    position:relative;
    background-color:$blue;
    background-size:cover;
    text-align:center;
    height:calc(100vh - 250px); width:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap:wrap;
    font-family:$roboto;
    h1{
      width:100%;
      color:$white;
      margin:0px 0px 8px 0px;
    }
    h2{
      width:100%;
      color:$white;
    }
    .btn{
      margin:50px auto 0px;
      padding:20px 30px;
      width:100px;
    }
  }
  //admin styles
  .wp-admin{
    .home-hero .btn{width:180px;}
  }


  .small-hero{
    position:relative;
    background-color:$blue;
    background-size:cover;
    text-align:center;
    height:400px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap:wrap;
    font-family:$roboto;
    background:url(../src/img/hero-bg.jpg) center no-repeat;
    h1{
      width:100%;
      color:$white;
      margin:0px 0px 8px 0px;
    }
  }



  .hero-callout{
    position:relative;
    width:100%; height:250px;
    .overlay{
      position:absolute;
      top:0px; left:0px;
      width:100%; height:100%;
      z-index:0;
      opacity:.9;
      background-color:$pink;
    }
    .slick-arrow{
      position:absolute;
      top:calc(50% - 15px);
      width:25px; height:30px;
      text-indent:-100000000px;
      @include trans(0.2s);
      cursor:pointer;
      &:hover{
        opacity:0.5;
        @include trans(0.2s);
      }
    }
    .prev{
      left:20px;
      background:url(../src/icons/arrow.svg) center no-repeat;
      background-size:contain;
      transform:rotate(180deg);
    }
    .next{
      right:20px;
      background:url(../src/icons/arrow.svg) center no-repeat;
      background-size:contain;
    }
    .slider{
      width:600px;
      .slide{
        width:100%;
        .image{
          position:relative;
          width:120px; height:150px;
          img{width:100%;}
        }
        span{
          width:calc(100% - 140px);
          padding:0px 0px 0px 20px;
          h1{
            color:$white;
            margin:0px 0px 8px 0px;
          }
          h2{
            color:$white;
          }
        }
      }
    }
  }
   //admin styles
  .wp-admin{
    .hero-callout{
      height:auto;
      .slider{width:100%;}
      .slide{background-color:$pink;}
      h1{line-height:40px;}
    }
  }



  .grid{
    background-color:$light-grey;
    padding:130px 0px 150px 0px;
    hr{
      background-color:$white;
      height:8px; width:250px;
      margin:80px auto;
      border:none;
    }
    .item{
      display: flex;
      align-items:center;
      justify-content: center;
      flex-wrap:wrap;
      width:730px;
      margin:0px auto;
      .image{
        position:relative;
        width:320px; height:230px;
        margin:0px 40px 0px 0px;
        order: 1;
        img{width:100%;}
      }
      span{
        width:calc(100% - 380px);
        order: 2;
        h3{
          font:300 40px/40px $roboto;
        }
        h4{
          font:700 40px/40px $roboto;
          margin:5px 0px 25px 0px;
        }
      }
      &:nth-of-type(odd){
        .image{
          margin:0px 0px 0px 40px;
          order:2;
        }
        span{order:1;}
      }
    }
  }
  //admin styles
  .wp-admin{
    .grid{
      .item{
        width:100%;
        .image{width:20%;}
        span{width:calc(80% - 100px)}
      }
    }
  }





  .callout{
    position:relative;
    width:100%;
    overflow:auto;
    .overlay{
      position:absolute;
      top:0px; left:0px;
      width:100%; height:100%;
      z-index:0;
      opacity:.9;
    }
    span{
      position:relative;
      display:flex;
      align-items: center;
      justify-content: center;
      flex-wrap:wrap;
      width:calc(100% - 140px);
      margin:0px auto;
      padding:50px 0px 50px 20px;
      text-align: center;
      z-index:1;
      h1{
        width:100%;
        color:$white;
        margin:0px 0px 8px 0px;
        text-transform: uppercase;
      }
      h2{
        width:100%;
        color:$white;
        margin:5px 0px 25px 0px;
      }
      .btn{
        width:100px;
      }
    }
  }
   //admin styles
  .wp-admin{
    .callout{
      .btn{width:200px;}
    }
    
  }


  .testimonials{
    padding:130px 0px 150px 0px;
    background-color:$white;
    h1{
      width:100%;
      margin:0px 0px 8px 0px;
      text-transform:uppercase;
      text-align: center;
    }
    h2{
      width:100%;
      text-align: center;
    }

    .slider{
      width:760px;
      .slide{
        width:33%;
        .image{
          width:130px; height:130px;
          border-radius:130px;
          background-color:$light-grey;
          margin:0px auto 15px;
        }
        h4{
          width:80%;
          text-align:center;
          margin:0px auto 15px;
        }
        h5{
          width:80%;
          color:$pink;
          text-align:center;
          margin:0px auto 30px;
        }
        p{
          width:80%;
          text-align:center;
          margin:0px auto 0px;
        }
      }
      .slick-dots{
        .slick-active{
          button{
            background-color:$pink;
            @include trans(0.3s);
          }
        }
      }
    }
  }
   //admin styles
  .wp-admin{
    .testimonials{
      height:auto;
      .slider{width:100%;}
      .slide{width:100%;}
    }
  }


  .simple-callout{
    padding:130px 0px 150px 0px;
    background-color:$white;
    h1{
      width:100%;
      text-align: center;
      margin:0px 0px 30px 0px;
    }
    h2{
      width:100%;
      margin:0px 0px 8px 0px;
      text-align: center;
      text-transform:uppercase;
    }
    .btn{
      color:$dark-blue;
      width:150px;
    }
  }