//SHOP PAGE

.page-results{


  main{
    width:100%;
    padding:100px 0px 100px 0px;
    @include gradientVert($white, $grey);
  }



  .results-main{
    position:relative;
    padding:50px 33px 40px 30px;
    display:flex;
    flex-wrap:wrap;
    h1{
      width:100%;
      text-align:center;
      margin:0px 0px 35px 0px;
    }
    .result{
      width:100%;
      background-color:$white;
      padding:10px 25px;
      margin:10px 0px;
      display:flex;
      align-items: center;
      justify-content:center;
      border:1px solid $grey;
      h3{
        display:block;
        margin:0px 0px 0px 0px;
        width:100%;
        font:700 20px/20px $roboto;
      }
      span{
        display:flex;
        justify-content: right;
        align-items: center;
        margin:0px 0px 0px 30px;
         p{
            font:400 18px/18px $roboto;
            width:165px;
            strong{
              font:700 24px/24px $roboto;
            }
          }
          .btn{
            min-width:50px;
            margin:0px 5px 0px 5px;
            padding:0px;
            width:70px; height:50px;
            background-color:$light-grey;
            color:$blue;
            border:1px solid $pink;
            text-align: center;
            font:700 12px/50px $roboto;
            @include trans(0.2s);
            &:hover{
              @include trans(0.2s);
              background-color:$blue;
              border:1px solid $blue;
              color:$white;
            }
          }
      }
    }

    .results-totals{
      position:relative;
      width:100%;
      overflow:auto;
      display:flex;
      align-items: center;
      justify-content: center;
      p{
        display:block;
        font:300 18px/18px $roboto;
        margin:0px 0px 30px 30px;
        padding:0px 30px 0px 0px;
        text-align: center;
        border-right:1px solid rgba($dark-blue, 0.3);
        color:$dark-blue;
        &:last-of-type{border:none;}
        span{
          display:block;
          font:700 36px/36px $roboto;
          margin:5px 0px 0px 0px;
          text-align: center;
        }
      }
    }

    .no-results{
      margin:35px auto 0px;
      p{
        width:100%;
        font:16px $roboto;
        text-align:center;
      }
      .btn{
        margin:35px auto 0px;
        width:150px;
        background-color:$white;
        color:$pink;
        @include trans(0.2s);
        &:hover{
          @include trans(0.2s);
          background-color:$blue;
          border:2px solid $blue;
          color:$white;
        }
      }
    }
  }

}