//SHOP PAGE

.post-type-archive-product{


  .small-hero{
    padding:83px 0px 0px 0px;
    font-family:$roboto;
  }

  .about{
    padding:100px 0px;
    background-color:$light-grey;
    font-family:$roboto;
    span{
      width:80%;
      text-align:center;
      max-width:700px;
      display:block;
      margin:0px auto;
    }
    h2{
      margin:0px auto 30px;
    }
    p{
      line-height: 24px;
    }
  }

  .products{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    width:960px;
    margin:0px auto;
    padding:100px 0px 100px 0px;
    font-family:$roboto;

    .custom-product{
      width:40%;
      margin:0px 5%;
      img{
        width:100px;
        margin:0px auto 30px;
      }
      h2{
        margin:0px auto 30px;
      }
      p{
        margin:0px auto 10px;
        line-height: 24px;
      }
      .price{
        margin:40px auto 10px;
        font-weight:700;
        font-size:18px;
      }
      .btn{
        width:150px;
        color:$pink;
        margin:30px 0px 0px 0px;
      }
    }
  }

}


//CART
.page-cart{

  main{
    margin:150px auto 50px;
    max-width:960px;
  }

  .cart-empty{
    font: 300 14px/14px $roboto;
    margin: 20px 0px 20px 0px;
  }


  //sign up button
  .checkout-button, #place_order{
    background-color:$pink !important;
    font: 700 14px/14px $roboto;
    @include trans(0.2s);
    &:hover{
      background-color:$purple !important;
      @include trans(0.2s);
    }
  }


  .woocommerce-info, .woocommerce-message{
    border-top-color: $pink;
    font:16px $roboto;
    a{
      font:14px $roboto;
      color:$blue;
    }
    &:before{
      color:$pink;
    }
  }
}



//CHECKOUT
.page-checkout{

  main{
    margin:150px auto 50px;
    max-width:960px;
  }

  h3{
    text-transform: uppercase;
    margin:30px 0px 30px 0px;
  }

  //sign up button
  .checkout-button, #place_order{
    background-color:$pink !important;
    font: 700 14px/14px $roboto;
    @include trans(0.2s);
    &:hover{
      background-color:$purple !important;
      @include trans(0.2s);
    }
  }

  //forms
  form{
    input, textarea{
        height:35px; width:100%;
        margin: 50px 0px 20px 0px;
        background-color:$white;
        box-shadow:none;
        border-radius:0px;
        border:2px solid #ddd;
        padding:10px;
        font: 300 12px/12px $roboto;
        color:$black;
        &:focus{outline:none;}
      }
      .select2.select2-container .select2-selection{
        font: 300 12px/12px $roboto !important;
      }

      
      .woocommerce-checkout-payment{
        margin:50px 0px 0px 0px;
        .form-row-wide{
          padding:0px !important;
          width:100%;
          float:left;
        }

        .form-row-first{
          padding:0px !important;
          width:100%;
          float:left;
        }
        .form-row-last{
          padding:0px !important;
          width:100%;
          float:left;
        }
      }
  }

  //fixing the 2 col checkout process
  .woocommerce-checkout{
    .col2-set{
      float:left;
      width:45%;
      .col-1{width: 100%;}
      .col-2{display:none;}
    }
    #order_review_heading{
      width:calc(55% - 50px);
      margin: 30px 0 37px 50px;
      float:left;
    }
    #order_review{
      float:left;
      width:calc(55% - 50px);
      margin:0px 0px 0px 50px;
    }
  }

  //info callouts
  // woo messages
  .woocommerce-info, .woocommerce-message{
    border-top-color: $pink;
    border-top-color: linear-gradient(160deg,#fa3a6b 0,#443983 100%);
    font:16px $roboto;
    &:before{
      color:$pink;
    }
    a{
      font:14px $roboto;
      color:$blue;
    }
  }
}