//TEST PAGE

.page-test, .page-details{


  .test-menu{
    position:fixed;
    top:65px; right:0px;
    background-color:$blue;
    width:338px; height:100vh;
    max-width:100vw;
    z-index:100;
    border-left:3px solid $pink;
    transform:translate(280px, 0px);
    transition: all 0.4s linear;
    div{
      position:relative;
      width:100%; height: 60px;
      border-bottom:1px solid rgba($white, 0.3);
      display:flex;
      align-items:center;
      justify-content: center;
      background-color:$blue;
      @include trans(0.3s);
      &:hover{
        background-color:rgba($white, 0.3);
        @include trans(0.3s);
      }
      i,svg{
        display:block;
        position:absolute;
        left:20px; top:18px;
        color:$white;
        font-size:22px;
        @include trans(0.4s);
      }
      img{
        position:absolute;
        left:14px; top:14px;
        display:block;
        width:30px; height:30px;
        @include trans(0.4s);
      }
      p{
        text-transform: uppercase;
        width:calc(100% - 100px);
        text-align:left;
        color:$white;
        font:16px/16px $roboto;
        margin:0px 0px 0px 100px;
        @include trans(0.4s);
      }
    }
    .menu-toggle{
      i{
        @include trans(0s);
      }
    }

    &-open{
      @extend .test-menu;
      transform:translate(0px, 0px);
      transition: all 0.4s linear;
      div{
        i{
          left:15px;
          @include trans(0.4s);
        }
        p{
          width:calc(100% - 60px);
          margin:0px 0px 0px 60px;
          @include trans(0.4s);
        }
      }
      .menu-toggle{
        i{
          transform:rotate(180deg);
          left:calc(100% - 40px);
          @include trans(0s);
        }
      }
    }

  }



  main{
    width:calc(100% - 60px);
    padding:65px 0px 100px 0px;
    @include gradientVert($white, $grey);
  }



  .test-main{
    position:relative;
    padding:0px 33px 40px 30px;
    //background-color:$grey;
    display:none;

    .test-title{
      position:relative;
      background-color:$blue;
      width:100%;
      border:2px solid $blue;
      height:45px;
      margin:30px auto 0px;
      display:flex;
      justify-content: space-between;
      
      h2{
        font: 700 20px/45px $roboto;
        color:$white;
        text-align: left;
        margin:0px 0px 0px 24px;
      }
      .reset-zoom{
        font: 300 14px/45px $roboto;
        cursor:pointer;
        color:$white;
        padding:0px 34px 0px 34px;
        height:100%;
        background-color:$blue;
        @include trans(0.3s);
        &:hover{
          @include trans(0.3s);
          background-color:$pink;
        }
      }
    }
    
    .ecg-container{
      position:relative;
      width:100%;
      overflow:hidden;
      background-color:$white;
      border:2px solid $blue;
      border-top:none;
    }
    .ecg-display{
      position:relative;
      top:0px; left:0px;
      margin:0px 0px 0px 0px;
      width:calc(100% - 0px); height:auto;
      overflow:auto;
      display:block;
      svg{
        width:100%; height:auto;
        z-index:0;
        display:block;
        
      }

      .calipers{
        display:none;
        position:absolute;
        top:0px; left:0px;
        z-index:1;
        width:100%; height:100%;
        overflow:hidden;
        .line{
          position:absolute;
          top:0px;
          width:1px; height:100%;
          background-color:$blue;
          cursor: move;
          touch-action: none;
          user-select: none;
          transform: translate(0px, 0px);
          margin:0px;
          span{
            position:absolute;
            top:0px; bottom:0px; left:-16px; right:0px;
            margin:auto;
            width:30px; height:30px;
            border:1px solid $blue;
            background:$white url(../src/icons/test-calipers-slider.png) center no-repeat;
            background-size:80%;
            border-radius:30px;
          }
        }

        .first{
          left:100px;
          box-shadow: -10002px 0 0 10000px rgba(36, 67, 142, .3);
        }
        .second{
          right:100px;
          box-shadow: 10002px 0 0 10000px rgba(36, 67, 142, .3);
        }

        &-display{
          @extend .calipers;
          display:block;
        }
      }

    }
    &-show{
      @extend .test-main;
      display:block;
    }


    .info{
      display:none;
      background-color:$blue;
      width:calc(100% - 46px);
      padding:10px 25px;
      p{
        font:400 18px/25px $roboto;
        display:inline-block;
        color:$white;
      }
      p:first-of-type, p:last-of-type{opacity: 0;}
      span{
        font:700 24px/25px $roboto;
      }
      &-show{
        @extend .info;
        display:flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  } //end test-main







  .test-score-sheet{
    position:relative;
    padding:0px 33px 0px 30px;
    width:calc(100% - 62px);
    margin:0px auto 0px;
    display:none;

    .answers-title{
      position:relative;
      background-color:$pink;
      width:100%;
      border:2px solid $pink;
      height:45px;
      margin:0px auto 0px;
      display:flex;
      justify-content: space-between;
      
      h2{
        font: 700 20px/45px $roboto;
        color:$white;
        text-align: left;
        margin:0px 0px 0px 24px;
      }
      .expand-collapse{
        font: 300 14px/45px $roboto;
        cursor:pointer;
        color:$white;
        padding:0px 34px 0px 34px;
        height:100%;
        background-color:$pink;
        @include trans(0.3s);
        &:hover{
          @include trans(0.3s);
          background-color:$blue;
        }
      }
    }



    .answers-container{
      display:block;
      column-count: 3;
      column-gap: 25px;
      border:2px solid $pink;
      border-bottom:45px solid $pink;
      border-top:none;
      width:calc(100% - 66px);
      padding:33px;
      background-color:$light-grey;
      @include breakpoint(1100px){
        column-count: 2;
      }
      @include breakpoint(800px){
        column-count: 1;
      }
      div{
        position:relative;
        border:1px solid $blue;
        padding:15px 35px 15px 35px;
        width:calc(100% - 80px);
        height:auto; max-height:20px;
        margin:5px 0px;
        display: inline-block;
        overflow:hidden;
        background-color:$white;
        @include trans(0.4s);
        i{
          position:absolute;
          right:20px; top:16px;
          cursor:pointer;
          color:$pink;
          @include trans(0.2s);
          &:hover{
            color:$blue;
            @include trans(0.2s);
          }
        }
        .fa-plus-square{display:block;}
        .fa-window-close{display:none;}
        h3{
          text-transform: uppercase;
          margin:0px 0px 20px 0px;
          font:700 14px/14px $roboto;
        }
        // Customize the label (the container) */
       .checkwrap{
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 6px;
          cursor: pointer;
          font:300 14px/18px $roboto;
          user-select: none;
          opacity: 0;
          @include trans(0.4s);
          // Hide the browser's default checkbox
          input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0; width: 0;
            @include trans(0.2s);
          }
          // Create a custom checkbox
          .checkmark {
            position: absolute;
            top: 0; left: 0;
            height: 15px; width: 15px;
            background-color: $white;
            border:1px solid $blue;
            @include trans(0.2s);
            &:hover{
              background-color:#eee;
              @include trans(0.2s);
            }
          }
          // When the checkbox is checked, add a pink background
          input:checked ~ .checkmark {
            background-color: $pink;
            border:1px solid $pink;
            @include trans(0.2s);
          }
          
        }
        .answer-block{
          position:relative;
          display:block;
          width:100%;
          p{
            display:inline-block;
            font:300 14px/18px $roboto;
          }
          a{
            border:none;
            i{
              position:relative;
              right:0px; top:0px;
              cursor:pointer;
              color:$black;
              opacity:0.3;
              @include trans(0.2s);
              &:hover{
                color:$blue;
                opacity:1;
                @include trans(0.2s);
              }
            }
          }
        }
      }
      .open-score-block{
        max-height:10000px;
        height:auto;
        border:1px solid $pink;
        @include trans(0.4s);
        .checkwrap{opacity:1;@include trans(0.4s);}
        .fa-plus-square{display:none;}
        .fa-window-close{display:block;}
      }
    }


    &-show{
      @extend .test-score-sheet;
      display:block;
    }
  }



  .test-score{
    position:relative;
    padding:0px 0px 0px 0px;
    min-height:50vh;
    width:100%;
    margin:35px auto 0px;
    display:none;
    p{
      font:24px/24px $roboto !important;
      text-align:center;
      margin:25px 0px 0px 0px;
    }
    svg{
      width:50%; height:auto;
      display:block;
      margin:45px auto 0px;
    }
    .desc{
      max-width:800px;
      width:80%;
      margin:45px auto 0px;
      p{
        font:16px/25px $roboto !important;
        text-align:left;
      }
    }
  }



}