/**
 * Styles to override the ultimate member plugin
 *
 */


//-------------------------------------------------------------------------------
//-- COLORS ---------------------------------------------------------------------
//-------------------------------------------------------------------------------
.um .um-tip:hover,
.um .um-field-radio.active:not(.um-field-radio-state-disabled) i,
.um .um-field-checkbox.active:not(.um-field-radio-state-disabled) i,
.um .um-member-name a:hover,
.um .um-member-more a:hover,
.um .um-member-less a:hover,
.um .um-members-pagi a:hover,
.um .um-cover-add:hover,
.um .um-profile-subnav a.active,
.um .um-item-meta a,
.um-account-name a:hover,
.um-account-nav a.current,
.um-account-side li a.current span.um-account-icon,
.um-account-side li a.current:hover span.um-account-icon,
.um-dropdown li a:hover,
i.um-active-color,
span.um-active-color
{
    color: $blue!important;
}

.um .um-field-group-head,
.picker__box,
.picker__nav--prev:hover,
.picker__nav--next:hover,
.um .um-members-pagi span.current,
.um .um-members-pagi span.current:hover,
.um .um-profile-nav-item.active a,
.um .um-profile-nav-item.active a:hover,
.upload,
.um-modal-header,
.um-modal-btn,
.um-modal-btn.disabled,
.um-modal-btn.disabled:hover,
div.uimob800 .um-account-side li a.current,
div.uimob800 .um-account-side li a.current:hover
{
    background: $blue!important;
}

.um .um-field-group-head:hover,
.picker__footer,
.picker__header,
.picker__day--infocus:hover,
.picker__day--outfocus:hover,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted,
.picker__list-item:hover,
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted,
.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__list-item--selected {
    background: #44b0ec!important;
}

.um input[type=submit]:disabled:hover {
    background: $light-grey!important;
}

.um input[type=submit].um-button,
.um input[type=submit].um-button:focus,
.um a.um-button,
.um a.um-button.um-disabled:hover,
.um a.um-button.um-disabled:focus,
.um a.um-button.um-disabled:active {
    background: $pink!important;
}

.um .um-button.um-alt:hover, .um input[type=submit].um-button.um-alt:hover {
    background: $blue!important;  
}

.um .um-button.um-alt, .um input[type=submit].um-button.um-alt {
    background: $blue!important;
}

.um a.um-link {
    @include trans(0.3s);
    color: $blue!important;
}

.um input[type=submit].um-button:hover,
.um a.um-button:hover {
    @include trans(0.3s);
    background-color: $blue!important;
}

.um a.um-link:hover,
.um a.um-link-hvr:hover {
    color: $blue!important;
}



//-------------------------------------------------------------------------------
//-- LOGIN PAGE, RESET PASSWORD, REGISTER
//-------------------------------------------------------------------------------
//globals
.casa-um-login-page, 
.casa-um-reset-page,
.casa-um-register-page,
.casa-um-account-page{
  min-height:calc(100vh - 693px);
  padding:100px 0px 100px 0px;
  font-family: 'Montserrat', sans-serif !important;
  background-color:$white;

  h1{
    width:450px;
    margin:0px auto 15px;
    color:$black;
    letter-spacing: 1px;
    font:300 40px/40px $roboto;
  }
  h2{
    margin:-10px auto 42px;
    color:$black;
  }
  p{
    width:450px;
    margin:0px auto 30px;
    color:$black;
    font:300 14px/24px $roboto !important;
  }

  .um .um-form input[type=text],
  .um .um-form input[type=password]{
      border:2px solid $grey !important;
      padding:10px 20px 10px 20px !important;
      font:400 14px/14px $roboto !important;
      @include trans(0.3s);
      &:focus{
        border:2px solid $grey !important;
        background-color:$light-grey !important;
        @include trans(0.3s);
      }
  }

  form{
    font-family: $roboto !important;
    .um-field-area input{
      border-radius:0px;
      border:2px solid $blue !important;
    }

    .um-field-label label{
      font:700 14px/14px $roboto !important;
    }
    #um-submit-btn, .um-button{
      border-radius:0px !important;
      color:$white;
      background-color:$pink;
      font:700 12px/4px $roboto !important;
      text-transform: uppercase !important;
      height:35px !important;
      min-width:150px !important;
    }
    .um-field-checkbox{
      margin:-10px 0px 20px 0px;
      font:700 12px/12px $roboto !important;
    }
    .um-link-alt{
      margin: -120px 0px 0px 300px;
      font:700 12px/12px $roboto !important;
    }

    .um-right{display:none;}
  }
}



//login page
.um-page-login{
  padding: 65px 0 0 0 !important;
  header{
    background: $light-grey;
    .logo{
      margin: 8px auto 0px !important;
      height: 80px !important;
      width: 120px !important;
    }
    .nav nav, .top{display:none;}
  }
  #um-submit-btn{
    width:150px !important;
    float:left;
  }
}


//reset page
.um-page-password-reset{
  padding: 83px 0 0 0 !important;
  header{
    background: $light-grey;
    .logo{
      margin: 0px auto 0px !important;
      height: 50px !important;
      width: 120px !important;
    }
    //.nav nav, .top{display:none;}
  }
  #um-submit-btn{
    width:250px !important;
  }
  .casa-um-reset-page{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap:wrap;
    h1{
      width:100%;
      text-align:center;
    }
  }
}


//Register page
.um-page-register{
  padding: 65px 0 0 0 !important;
  header{
    background: $light-grey;
    .logo{
      margin: 8px auto 0px !important;
      height: 80px !important;
      width: 120px !important;
    }
    //.nav nav, .top{display:none;}
  }
  .um-alt{display:none;}
  #um-submit-btn{
    width:150px !important;
  }
  .already{
    p{
      margin: -27px 0 0 0px;
      font: 700 12px/12px $roboto!important;
      color:$black;
      text-align:right;
    }
  }
}


//user account{
.um-page-account{
  padding: 83px 0 0 0 !important;
  header{
    background: $light-grey;
    .logo{
      margin: 0px auto 0px !important;
      height: 50px !important;
      width: 120px !important;
    }
    //.nav nav, .top{display:none;}
  }
  .um-account .um-form form{
    display:flex;
    //align-items:center;
    justify-content: center;
  }
  .um-account-side{
    ul li{
      background:$white;
      a{
        @include trans(0.3s);
        &:hover{
          @include trans(0.3s);
        }
      }
    }
  }
  .um-account-main{
    width:40%;
  }
}


// profile page
.um-own-profile{
  padding: 145px 0 0 0 !important;
  header{
    background: $light-grey;
    .logo{
      margin: 0px auto 0px !important;
      height: 50px !important;
      width: 120px !important;
    }
    //.nav nav, .top{display:none;}
  }
}


//header login
// .header-login{
//   .casa-um-login-page{
//     background-color:$white;
//     padding:0px;
//     min-height:50px;
//     height:50px; width:480px;
//     margin: 4px 140px 0px 0px;
//     h1, p{display:none;}
//   }
//   .um-form form{
//     position:relative;
//     display:flex;
//     .um-row{
//       margin:0px !important;
//       .um-col-1{
//         display:flex;
//         margin:-27px 0px 0px 0px;
//         .um-field{
//           margin:0px 20px 0px 0px;
//         }
//       }
//     } 
//     .um-link-alt{
//       margin: 41px 0 0 -470px;
//       font:700 10px/10px $roboto !important;
//     }
    
//   }
//   .um .um-form input[type=text],
//   .um .um-form input[type=password]{
//     width:200px;
//     background-color:$light-grey;
//     border:2px solid $grey !important;
//     padding:10px 20px 10px 20px !important;
//     font:400 14px/14px $roboto !important;
//     @include trans(0.3s);
//     &:focus{
//       border:2px solid $grey !important;
//       background-color:$white !important;
//       @include trans(0.3s);
//     }
//   }
//   .casa-um-login-page form .um-field-label label{
//     font:700 12px/12px $roboto !important;
//     margin: 0px 0px 0px 10px;
//   }
//   .btn-arrow-red,
//   .um-field-checkbox{display:none;}
// }




