// VARIABLES -----------------------

// COLORS -----------------------
$black: #333333;
$dark-blue: #133283;
$blue: #24438e;
$purple: #443983;
$pink: #fa3a6b;
$light-pink: #f189a5;
$grey: #EDEDED;
$light-grey: #f7f7fa;
$white: #ffffff;



// FONTS -----------------------
$roboto: 'Roboto', sans-serif;




// MIXINS -----------------------
@mixin breakpoint($size) { 
 @media screen and (max-width: $size) { @content; } 
}

@mixin trans($sec){
  -webkit-transition: all ($sec) ease-in-out;
  -moz-transition: all ($sec) ease-in-out;
  -o-transition: all ($sec) ease-in-out;
  transition: all ($sec) ease-in-out;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}


@mixin gradient($color1, $color2){
  background: $color1;
  background: -moz-linear-gradient(-45deg, $color1 0%, $color2 100%);
  background: -webkit-linear-gradient(-45deg, $color1 0%,$color2 100%);
  background: linear-gradient(160deg, $color1 0%,$color2 100%);
}

@mixin gradientVert($color1, $color2){
  background: $color1;
  background: -moz-linear-gradient(0deg, $color1 0%, $color2 100%);
  background: -webkit-linear-gradient(0deg, $color1 0%,$color2 100%);
  background: linear-gradient(0deg, $color1 0%,$color2 100%);
}