/******************************************************************
Stylesheet: Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your
functions file) on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/
body.login {
  background-color: #FFFFFF; 
}

/* the form box */
/*
This is the Wordpress logo in the admin area.
You'll have to load your own images and mess
with the width and height.
*/
.login h1 a {
  background: url(../src/img/logo-blue.png) no-repeat top center;
  /* make sure to replace this! */
  width: 274px;
  height: 98px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 15px;
  display: block; 
  background-size:contain;
}

.login form {
  margin-left: 8px;
  font-weight: normal;
  background: #FFFFFF;
  border: 1px solid ##FFFFFF;
  border-radius: 0px;
  box-shadow: none; 
  padding:0px;
}

body form .input {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px !important;
  width: 97%;
  padding: 10px 12px !important;
  box-shadow: none !important;
  background: white !important;
  margin: 2px 6px 16px 0px;
  background: #dadada;
  outline: none;
  height: 43px;
  border:2px solid #E3E3E3;
  transition: all 0.3s ease-in-out;
}

.input:focus{
  outline:none;
  border:2px solid #E3E3E3 !important;
  box-shadow: none !important;
  transition: all 0.3s ease-in-out;
}

.login .message {
  border-left: 5px solid #27824D;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  box-shadow: none;
}

form label{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

#nav{
  text-align:center;
  padding:0px;
  text-transform:uppercase;
}
#backtoblog{display:none;}

/*
You'll have to override some of the default styles
but since we're referencing the id, it should be easy.
*/
.login #wp-submit {
  background: white;
  border:2px solid #fa3a6b;
  color: #24438e;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer; 
  font-family: 'Roboto', sans-serif;
  line-height:2px;
  font-weight:800;
  text-transform: uppercase;
  border-radius: 0px;
  text-shadow: none;
  padding: 20px 40px 20px 40px;
  transition: all 0.3s ease-in-out;
  width:100%;
  margin:25px 0px 0px 0px;
}
.login #wp-submit:hover {
  border:2px solid #24438e;
  background: #24438e;
  color: white;
  transition: all 0.3s ease-in-out;
}